<form>
  <div class="filter d-lg-flex">
    <div class="filter-item">
      <div class="filter-title d-flex justify-content-between align-items-center border p-2">
        <div>Số người</div>
        <i class="fa fa-angle-down"></i>
      </div>
      <div>
        <input type="text" />
      </div>
    </div>
    <div class="filter-item">
      <div class="filter-title d-flex justify-content-between align-items-center border p-2">
        <div>Khoảng giá mỗi đêm</div>
        <i class="fa fa-angle-down"></i>
      </div>
      <div class="d-flex align-items-center">
        <div class="d-flex align-items-center border">
          <span>$</span>
          <input type="text" style="border: hidden" />
        </div>
        <div class="concat-input"></div>
        <div class="d-flex align-items-center border">
          <span>$</span>
          <input type="text" style="border: hidden" />
        </div>
      </div>
    </div>
    <div class="filter-item">
      <div class="filter-title d-flex justify-content-between align-items-center border p-2">
        <div>Star rate</div>
        <i class="fa fa-angle-down"></i>
      </div>
      <div class="d-flex flex-column">
        <div class="align-items-center text-warning">
          <input type="checkbox" id="star1">
          <label for="star1">
            <i class="fa fa-star"></i>
          </label>
        </div>
        <div class="align-items-center text-warning">
          <input type="checkbox" id="star2">
          <label for="star2">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </label>
        </div>
        <div class="align-items-center text-warning">
          <input type="checkbox" id="star3">
          <label for="star3">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </label>
        </div>
        <div class="align-items-center text-warning">
          <input type="checkbox" id="star4">
          <label for="star4">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </label>
        </div>
        <div class="align-items-center text-warning">
          <input type="checkbox" id="star5">
          <label for="star5">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </label>
        </div>
      </div>
    </div>
    <div class="filter-item">
      <div class="filter-title d-flex justify-content-between align-items-center border p-2">
        <div>Tiện nghi</div>
        <i class="fa fa-angle-down"></i>
      </div>
      <div class="d-flex flex-column">
        <div class="align-items-center">
          <input type="checkbox" id="wifi">
          <label for="wifi">
            wifi
          </label>
        </div>
        <div class="align-items-center">
          <input type="checkbox" id="air_conditional">
          <label for="air_conditional">
            air conditional
          </label>
        </div>
        <div class="align-items-center">
          <input type="checkbox" id="televison">
          <label for="television">
            television
          </label>
        </div>
        <div class="align-items-center">
          <input type="checkbox" id="washing_machine">
          <label for="washing_machine">
            washing machine
          </label>
          <div class="align-items-center">
            <input type="checkbox" id="fridge">
            <label for="fridge">
              fridge
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
