@import 'bootstrap-sprockets';
@import 'bootstrap';
:root {
  --side-bar-width: 250px;
}
.main-header {
  background: white;
  border-bottom: 1px solid #dee2e6 !important;
  z-index: 9999999;
  border-radius: none !important;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: -100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a::before {
  display: block;
  content: ' ';
  float: left;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 5px 5px 0px;
  border-right-color: #ccc;
  margin-top: 5px;
}

.dropdown-submenu:hover > a:after {
  border-right-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -105%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.dropdown-menu > li > a {
  white-space: pre-wrap !important;
}
.badge-success {
  background-color: #28a745 !important;
}

.badge-danger {
  background-color: #dc3545 !important;
}

.dropdown-menu-filter {
  min-width: 250px !important;
  padding: 10px !important;
}
