@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color.scss';

/* typography */
ul {
  margin: 0;
}

h1.title {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* form */
.form-container {
  width: 360px;
  margin: auto;
  margin-top: 30px;
}

input,
textarea,
select,
.uneditable-input {
  border: 1px solid $light_grey;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}
