@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color.scss';

/* typography */
ul {
  margin: 0;
}

h1.title {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* form */
.form-container {
  width: 360px;
  margin: auto;
  margin-top: 30px;
}

input,
textarea,
select,
.uneditable-input {
  border: 1px solid $light_grey;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

#user_password_confirmation {
  margin-bottom: 20px;
}

#password_reset_email {
  margin-bottom: 20px;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}
a:hover,
a:focus {
  text-decoration: none !important;
}
input[type='date'] {
  padding: 10px;
}
select {
  padding: 10px;
  background: white;
}
.user_name {
  font-size: 16px;
  color: #19191a;
  display: block;
  text-align: left;
  padding: 8px 15px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.menu-item .nav-menu .mainmenu li:hover .dropdown {
  transition: none !important;
}
.page-item.active .page-link {
  background-color: #dfa974 !important;
  color: #ffffff !important;
}

.pagination > li > a {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  color: #707079 !important;
  border: 1px solid #efd4b9 !important;
  border-radius: 2px;
}

.pagination > li > a:hover {
  background-color: #dfa974 !important;
  color: #ffffff !important;
}

.grid-container {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: auto auto auto auto;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  color: #707079;
  border: 1px solid #efd4b9;
  padding: 5px;
  text-align: center;
}
.grid-item-available:hover {
  cursor: pointer;
  background-color: #dfa974;
  color: #ffffff;
}

.grid-item-selected {
  background-color: #dfa974;
  color: #ffffff;
}
.invalid {
  color: red;
  display: none;
}
.not-available {
  background-color: gray;
  color: #ffffff;
}

.not-available:hover {
  cursor: default;
}

h3.list_rooms {
  margin-top: 0px;
  margin-bottom: 30px;
}
.rooms_table_image {
  height: 100px;
}
.delete-icon,
.edit-icon {
  cursor: pointer;
  font-size: 20px !important;
}
.delete-icon {
  color: red;
  margin-right: 20px;
}
thead > tr > th {
  white-space: nowrap;
}
.shb-mobile-sidebar {
  display: block;
  margin-top: 30px;
}
.shb-booking-your-stay-wrapper {
  box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  padding: 30px;
  margin: 0 0 30px 0;
}
.block {
  width: 5px;
  height: 5px;
}
.block-available {
  background-color: rgba(255, 255, 255, 0.8);
}
.block-not-available {
  background-color: gray;
}

.display {
  display: block;
}
booking_list_section {
  padding-top: 0;
  padding-bottom: 80px;
}
.badge-success {
  background-color: #28a745 !important;
}
.badge-danger {
  background-color: #dc3545 !important;
}
.badge-warning {
  background-color: #ffc107 !important;
}
.booking-form .rails-button-submit {
  cursor: pointer;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #dfa974;
  border-radius: 2px;
  color: #dfa974;
  font-weight: 500;
  background: transparent;
  width: 100%;
  height: 46px;
  margin-top: 30px;
  padding: 0;
}
.badge-info {
  background-color: #17a2b8 !important;
}

.api-text h3 {
  color: #ffffff;
}
.video-section .video-text h2 {
  color: #ffffff;
}
.video-section .video-text p {
  color: #ffffff;
}
.gallery-item .gi-text h3 {
  color: #ffffff;
}
